singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions='--nv'
singularity.envWhitelist='CUDA_VISIBLE_DEVICES,PYTORCH_CUDA_ALLOC_CONF'
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs" --no-pid'
    clusterOptions='--account=scjp99'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    withLabel: largemem {
        clusterOptions='--account=scjp99 --partition=largemem'
    }
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
singularity.cacheDir = '/scratch/scjp_root/scjp1/xiaoouw/singularity-cache'


// paths to blacklists for each genome
params.blacklist = ["hg38": ["/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38-blacklist.bed.gz"], "hg19": ["/scratch/scjp_root/scjp0/shared_data/reference/human/hg19/hg19-blacklist.bed.gz"]]

// params for Seurat joint clustering of RNA
params.joint_clustering_pcs = 25
params.joint_clustering_resolution = 2
params.sctransform = false

// marker genes to plot when running Seurat clustering
params.markers = ['INS', 'GCG']
params.results = "/home/xiaoouw/islet_multiome/results/doublet_detection_9411_09302024"