singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions='--nv'
singularity.envWhitelist='CUDA_VISIBLE_DEVICES,PYTORCH_CUDA_ALLOC_CONF'
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs" --no-pid'
    clusterOptions='--account=scjp99'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
singularity.cacheDir = '/scratch/scjp_root/scjp1/xiaoouw/singularity-cache'


params.blacklist = ["hg38": ["/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38-blacklist.bed.gz"]]
// marker genes to plot when running Seurat clustering
params.markers = ['INS', 'GCG']
params.results = "/home/xiaoouw/islet_multiome/results/doublet_detection_9411_09302024"